{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  <script src="{% static 'js/show_select.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="center"><h1>Orders</h1></div>
    <table class="centered striped z-depth-5">
      <thead>
        <td>Order No.:</td>
        <td>Created:</td>
        <td>Customer:</td>
        <td>Total price:</td>
      </thead>
      <tbody>
        {% for order in orders.all %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created_date }}</td>
            <td>{{ order.username }}</td>
            <td>{{ order.full_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}