{% load products_tags %}
<div class="container">
  <div class="row">

    {% for category in product_categories %}
      <div class="col s12 m6 l3">
        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>

        <img src="{{ category.image.url }}">
      </div>

      {% if forloop.counter|divisibleby:"4" %}
  </div>
  <div class="row">
      {% endif %}

    {% empty %}
      <p>No categories available.</p>
    {% endfor %}
  </div>
{% include 'recently_viewed_products.html' %}
</div>
