{% extends 'base.html' %}
{% block content %}

<div class="container">
  {% include 'categories.html' %}
  <div class="row">

    {% for product in products %}
      <div class="col s12 m6 l3">
        <a href="{{ product.get_absolute_url }}">{{ product.name }}
          <img src="{{ product.product_images.first.image.url }}" width='200' alt="{{ product.name }}">
        </a>

        <div>Price: {{ product.price }} {{ product.currency.symbol }}</div>
        <div> <a href="{{ product.brand.get_absolute_url }}">Brand: {{ product.brand }}</a></div>

        <div> Categories:
          {% for category in  product.categories.all %}
            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
            {% if forloop.last %}. {% else %},{% endif %}

          {% endfor %}
        </div>
      {% if forloop.counter|divisibleby:"4" %}
   </div>
      <div class="row">
      {% endif %}
    {% endfor %}
    </div>
  </div>

{% endblock %}
</div>