{% extends 'base.html' %}
{% load static %}
{% load products_tags %}
{% block javascript %}
  <script src="{% static 'js/show_select.js' %}"></script>
{% endblock %}
{% block content %}
<div class="col s12 m6 l3">
  <div>{{ product.name }}</div>
  <div>Price: {{ product.product_price }} </div>
  <div> Brand: {{ product.brand.name }}</div>
  <div>
    {% for product_image in product.product_images.all %}
    <img src="{{ product_image.image.url }}" width='200' height='300' alt="{{ product.name }}">
    {% endfor %}
  </div>

  <div> Categories:
    {% for category in  product.categories.all %}
      <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      {% if forloop.last %}. {% else %},{% endif %}
    {% endfor %}
    {% for attr_value in product.attribute_values.all %}
      <div>{{ attr_value.attribute_name }}: {{ attr_value.value }}</div>
    {% endfor %}
  </div>
</div>
  {% include 'recently_viewed_products.html' %}
  <div> Reviews:
    {% for review in product_reviews %}
      <div>{{ review.user.username }}</div>
      <div>{{ review.text }}</div>
      <div>{{ review.rating }}</div>
    {% endfor %}
  </div>
  <form action="{% url 'comment' product_slug=product.slug %}" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
</form>
{% endblock %}